body {
    max-width: 960px;
}
h1 {
    text-align: center;
}

/* this grid contains the random #, guess #++ made, & win/lose score  */
#score-grid {
    margin-top: 3%;
    max-width: 100%;
} 
.crystal {
    margin-top: 2%;
    width: 195px;
    height: 195px;
}


/* attempt to reduce margin between grid boxes 
 .grid {
    margin-left: 0;
} */